html,body {
    background: #fff
}

html {
    height: 100%
}

body {
    color: #000;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word
}

.post-meta {
    text-align: left;
    font-weight: bold
}

h2,h3,h4,h5,h6 {
    margin-top: 3rem
}

hr {
    margin: 2rem 0
}

p {
    margin: 1rem 0
}

li {
    margin: .4rem 0
}

*:target {
    background: #ff0
}

.w {
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 2rem
}

hr {
    text-align: center;
    border: 0
}

hr:before {
    content: "~"
}

hr:after {
    content: attr(data-content) ""
}

table {
    width: 100%
}

table,th,td {
    border: thin solid #000;
    border-collapse: collapse;
    padding: .4rem
}

code {
    background: #f2f2f2;
    padding: .1em .2em;
    border-radius: 5px;
}

pre code {
    display: block;
    overflow-x: auto;
    padding: 1rem
}

blockquote {
    font-style: italic;
    padding: 1rem;
}

blockquote p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.footnote-definition {
    padding: 0 1rem
}

.footnote-definition:target {
    background: #ff0;
    color: #212121
}

.footnote-definition p {
    display: inline
}

nav,.taxonomies {
    text-align: center
}

nav a {
    margin: 0 .4rem
}
